 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {

     font-family: 'Roboto', sans-serif;
     font-size: 20px;

 }

 h1 {

     font-size: 40px;
     margin-bottom: 40px;
 }

 p {

     line-height: 2;
     margin-bottom: 20px;

 }

 header,a {

     color: white;

 }

 header{

    background-image: url(../img/jumbo.png);
       
        background-size: contain;
        background-repeat: no-repeat;
 }

 
 .primario i {

     margin-right: 5px;
     color: #000000
 }

 .secondario i{

    margin: 5px;
    color: white;

 }
 /* caratteristiche barra di navigazione */
 .navig {


     display: flex;

    
     width: 100%;
     justify-content: center;
     align-items: center;
     padding: 30px 5% 0 5%;

 }

 /* .navig .navig-items {

     
 } */

 /* caratteristiche logo  */
 .logo {
     display: flex;

     flex-grow: 1;

     align-items: center;

 }

 /* caratteristiche lista link  */
 .link {
     display: flex;
     justify-content: center;
     font-size: medium;
     flex-grow: 3;

     align-items: center;

 }

 /* caratteristiche login  */
 .login {

     flex-grow: 1;

     display: flex;
     justify-content: flex-end;
     align-items: center;
     text-align: center;
 }

 .btn {
     border-radius: 30px;
     display: inline-block;
     background-color: rgb(248, 248, 248);
     padding: 10px 15px;
     color: black;
     border: 0;
     font-size: medium;
 }

 .btn:hover {

     box-shadow: 0px 0px 20px -6px #000000;
     transition: 0 300ms;


 }

 /* caratteristiche lista */
 ul {

     display: flex;
     list-style: none;
     gap: 100px;

 }

 a {

     text-decoration: none;

 }

 li:hover {

     text-decoration: underline;


 }

 .btn.primario {

     margin-right: 15px;

 }

 .btn.secondario {

     background-color: #5865f2;
     color: white;
 }

 /* caratteristiche generali barra navigazione */
 .navig-items {

     height: 40px;

 }

 /* caratteristiche box sotto barra di navigazione */
 .head {
     display: flex;
     width: 100%;
     height: 700px;
     justify-content: center;
     align-items: center;
     padding-top: 70px;
     
 }


 .navig-box {


     height: 70%;
     width: 50%;
     text-align: center;


 }


 /* caratteristiche sezioni con i box alternati */
 .sezione {
     padding: 0 15%;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 600px;
 }

 .big-box {
     
     flex-grow: 2;
     height: 70%;
     
     text-align: center;
     
 }

 .small-box {
     padding-top: 50px;
     flex-grow: 1;
     height: 70%;
     
     
 }

 .sezione.due {
     
     background-color: lightgrey;
 }

 .sezione-grande {
     display: flex;
     
     padding: 0 10%;
     height: 1200px;
     justify-content: center;
     align-items: center;
     background-color: lightgrey;
 }

 .bigger-box {
     
     height: 85%;
     width: 100%;
     text-align: center;

 }

 /* caratteristiche delle due sezioni del footer  */
 .sezione-footer {

     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(39, 39, 39);
     padding: 0 10%;
 }

 hr {

     border: 2px solid grey;
 }

 /* caratteristiche sezione con box del footer  */
 .sezione-footer.footer-top {
    
     width: 100%;
     height: 800px;
 }

 /* caratteristiche sezione crediti del footer  */
 .sezione-footer.footer-bottom {
     align-items: flex-end;
     height: 100px;
     width: 100%;
 }

 .container-crediti {

     display: flex;
     justify-content: space-between;
     align-items: center;

     width: 100%;
    
     height: 50%;
     

     border-top: 2px solid #5865f2;

 }

.footer-logo{
    line-height: 100%;
    display: inline-block;
}

 

 .bigger-box p{

    padding: 0 20%;
 }

 .pre-footer{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

 }

.big-box-footer {
    
    flex-grow: 3;
    height: 70%;
    line-height: 50px;
    text-align: center;
    padding-left: 0;
    text-align: left;
    color: #5865f2;
   
}
.big-box-footer ul {
    
    color: white;
    gap: 10px;

}

.big-box-footer div{
    display: inline-block;
    color: white;
}
 #ita-img{
    margin-right: 5px;
    width: 30px;
 }

.contatti li:first-child{
    color: #5865f2;
    pointer-events: none;
   font-size: large;
    
}
     

 
 .contatti{
    color: white;
    display: inline-block;
    line-height: 50px;
    font-size: medium;


 }


 .small-box-footer{

        
        flex-grow: 2;
        height: 70%;

 }